body {

	background: #ccc; 

}


h1,h2{
	text-align: center;
	color: #13522A;
}
p{
	color: #13522A;
	text-align: center;

}

h1 {
	font-family:Antiqua;
}

h2{
	font-family:Antiqua;
}
.boton{

	text-decoration:none; 
    /*padding: 10px;*/
    font-weight: 600;
    font-size: 20px;
    width: 400px;
    color: #13522A;
    background-color: #ccc;
    border-radius: 50px;
    border: 2px solid #13522A;
    text-align: center;
  
}

tr,td{
    color: #13522A;
    text-align: center;
}